* {
  font-family: "Noto Sans CJK KR", "Nanum Gothic", "sans-serif";
  font-size: 14px;
  line-height: 21px;
}

body {
  color: #333;
}
a {
  text-decoration: none;
  /* NON DRAG */
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
strong {
  /* NON DRAG */
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
span {
  /* NON DRAG */
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
h2 {
  /* NON DRAG */
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
img {
  /* img(인라인 요소) 하단에 Baseline 공백을 제거 */
  display: block;
}
li {
  list-style: none;
}

/* ICONS */
.icon {
  background-size: cover;
}

.icon-cover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon.icon--chart {
  width: 14px;
  height: 14px;

  background-image: url("./images/chart.png");
}

.icon.icon--home {
  width: 23.33px;
  height: 19.83px;

  background-image: url("./images/home.png");
}

.icon.icon--transfer {
  width: 32px;
  height: 22px;

  background-image: url("./images/transfer.png");
}

.icon.icon--msg {
  width: 24px;
  height: 21.96px;

  background-image: url("./images/msg.png");
}

.icon.icon--more {
  width: 26.27px;
  height: 6px;

  background-image: url("./images/more.png");
}

.container {
  overflow: hidden;
}

.hide {
  font-size: 0;
}

.native {
  width: 100%px;
  height: 44px;
  margin-bottom: 12px;
  /* background-color: blueviolet; */
}

.wrap {
  width: 375px;
  height: 100vh;

  max-width: 375px;
  min-height: 812px;
  background-color: #eeece5;
  position: relative;

  overflow: hidden;
}

/* NAV */
.tab-bar {
  width: 375px;
  height: 76px;
  bottom: 0;
  max-width: 375px;
  position: fixed;
  background: linear-gradient(163.63deg, #00bdb2 11.35%, #c4e7b8 139.96%);
  display: flex;
  z-index: 99;
}

.tab-bar ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tab-bar > ul > li {
  width: 30px;
  height: 30px;
}

.tab-bar > ul > li > a {
  color: white;
  font-size: 28px;
}

.tab-bar > ul > li > a.selected {
  color: #005f59;
}

/* ACCOUNT */
.account {
  width: 100%;
}

.account .account__title {
  width: 327px;
  height: 43px;
  padding: 0 21px 0 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.account .account__title .profile {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  overflow: hidden;
}

.account .account__title .subtitle {
  font-size: 18px;
  font-weight: bold;
  line-height: 0;
}

.account .account__title .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0;
}

.account .account__title .options > li + li {
  margin-left: 18px;
}

.account .account__title .options > li > span {
  font-size: 24px;
  color: #ff5f00;
}

.account .account__title .options > li > span:hover {
  cursor: pointer;
}

.account .account__title .options > li > span:active {
  color: #ff0000;
}

.account .account__title .profile img {
  width: 100%;
}

.account .account__status {
  width: 100%;
  height: 254px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account .account__status .status__total {
  width: 279px;
  height: 155px;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(226, 191, 66, 0.19);
  border-radius: 12px;
  margin-top: 33px;
}

.account .account__status .ad {
  font-size: 14px;
  margin-top: 24px;
}

.account .account__status .ad > a {
  color: black;
}

.account .account__status .ad > a + a {
  margin-left: 4px;
  text-decoration: underline;
}

.account__status {
}

.account__status .status__total {
  font-style: normal;
  font-weight: 500;

  text-align: center;
  position: relative;
}

.account__status .status__total .status__account-num {
  letter-spacing: -0.24px;
  margin-top: 14px;
  position: relative;
}

.account__status .status__total .status__account-num strong {
  color: #858585;
}

.account__status .status__total .status__account-num span {
  color: #000000;
  position: absolute;
  right: 17px;
}

.account__status .status__total .status__account-num span:hover {
  cursor: pointer;
}

.account__status .status__total .status__account-balance {
  margin-top: 16px;
  font-weight: 600;
}

.account__status .status__total .status__account-balance strong {
  font-size: 24px;
  line-height: 36px;
}

.account__status .status__total .status__graph {
  width: 202px;
  height: 17px;
  position: relative;
  margin-top: 16px;
  margin-left: 32px;
  margin-bottom: 8px;
}

.account__status .status__total .status__graph .total {
  width: 100%;
  height: 6px;

  background: #c4c4c4;
  border-radius: 3px;

  position: absolute;
  top: 7px;
  z-index: 1;
}

.account__status .status__total .status__graph .now {
  width: 60%;
  height: 6px;

  background: #ffdb4c;
  border-radius: 3px 0px 0px 3px;

  position: absolute;
  top: 7px;
  z-index: 2;
}

.account__status .status__total .status__graph .set {
  width: 9px;
  height: 17px;

  background: #fff;

  position: absolute;
  z-index: 3;
  right: 53px; /* set controller 움직일때 사용*/

  display: flex;
  justify-content: center;
}

.account__status .status__total .status__graph .set .controller {
  width: 4px;
  height: 17px;

  background: #ff5f00;
  border-radius: 2px;
}

.account__status .status__total .chart {
  width: 24px;
  height: 24px;

  position: absolute;
  top: 98px;
  right: 14px;
}

.account__status .status__total .chart:hover {
  cursor: pointer;
}

.account__status .status__total .status__summary {
  color: #858585;
}

/* HISTORY */
.account__history {
  width: 100%;
  /* height: auto; */
  min-height: 55vh;

  background-color: #f5f5f5;
  box-shadow: 0px -5px 14px rgba(189, 144, 28, 0.08);
  border-radius: 30px 30px 0px 0px;
}

.account__history .history__more {
  width: 100%;
  height: 17px;

  display: flex;
  justify-content: center;
}

.account__history .history__more .controll-space {
  width: 106px;
  height: 17px;

  position: relative;
  top: -3px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.account__history .history__more .controll-space .controll-bar {
  width: 48px;
  height: 2.15px;

  background: #c4c4c4;
  border-radius: 4px;
}

.account__history .history__saving {
  width: 308px;
  height: 49px;

  margin: 6px 37px 0 30px;

  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.account__history .history__saving .container {
  display: flex;
}

.account__history .history__saving .container .saving-box {
  width: 162px;
  height: 47px;
  min-width: 162px;

  font-size: 12px;
  line-height: 18px;

  background: #dadada;
  border-radius: 6px;

  margin-right: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #fff;

  position: relative;
}

.account__history .history__saving .container .saving-box strong {
  margin-left: 13px;
  z-index: 2;

  font-size: 12px;
  line-height: 18px;
}

.account__history .history__saving .container .saving-box span {
  margin-left: 13px;
  z-index: 2;

  font-size: 12px;
  line-height: 18px;
}

.account__history .history__saving .container .saving-box .achieve {
  width: 30%; /* 성취에 따른 가변값 */
  height: 100%;

  background-color: cornflowerblue; /* 사용자 설정 또는 랜덤 가변 값 */
  border-radius: 6px 0 0 6px; /* if 100%, npx; / else npx 0 0 npx */

  position: absolute;
}

.account__history .history__recent {
  width: 100%;
  height: auto;
  min-height: 45vh;
  margin-top: 17px;

  /* background-color: chartreuse; */
  position: relative;
}

.account__history .history__recent .container {
  width: 302px;
  height: 100%;

  position: absolute;
  left: 36px;

  overflow-y: scroll;
}

.account__history .history__recent .container .day {
  margin-bottom: 38px;
}

.account__history .history__recent .container .day:last-child {
  margin-bottom: 0;
}

.account__history .history__recent .container .day .day-summary {
  width: 100%;
  height: 21px;

  display: flex;
  justify-content: space-between;
}

.account__history .history__recent .container .day .day-summary strong {
  font-weight: bold;
}

.account__history .history__recent .container .day .day-summary span {
  color: #b4b4b4;
}

.account__history .history__recent .container .day ul > li {
  margin-top: 8px;

  width: 100%;
  height: 34px;

  border-bottom: 1px solid #dadada;
  display: flex;
  justify-content: space-between;

  font-size: 18px;
  line-height: 27px;
}
